@media (max-width: 1052px) {
    .step__inner-box:nth-child(odd)::before,
    .step__inner-box:nth-child(even)::after {
      right: -60px;
    }
  }
  
  @media (max-width: 1020px) {
    .logo {
      padding-right: 0px;
    }
    .step__inner {
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
    }
    .step__inner-box {
      margin-bottom: 52px;
    }
    .step__inner-box:nth-child(odd)::before,
    .step__inner-box:nth-child(even)::after {
      display: none;
    }
  }
  
  @media (max-width: 960px) {
    .header__item-text {
      font-size: 22px;
    }
  }
  
  @media (max-width: 940px) {
    .wrapper--active {
      background-color: #BCBCBC;
    }
    .header__top-menu {
      justify-content: space-around;
    }
    .logo {
      z-index: 50;
    }
    .logo__images {
      margin-left: 155px;
    }
    .logo__images--active {
      display: none; 
    }
    .logo__images2--active {
      display: block;
      padding-top: 3px;
      margin-left: 155px;
    }
    .header__menu-list {
      position: absolute;
      left: 0;
      right: 0;
      background-color: #D8BFA9;
      display: block;
      top: -450px;
      transition: all .5s;
    }
    .header__menu-list.header__menu-list--active {
      top: 0px;
      z-index: 20;
    }
    .header__menu-list {
      padding-top: 140px;
      padding-bottom: 10px;
    }
    .header__menu-btn {
      display: block;
    }
    .header__list-item {
      margin-right: 0px;
    }
    .header__item-link {
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: #F6F6F5;
      padding-bottom: 16px;
      display: block;
      text-align: center;
      transition: all .5s;
    }
    .header__item-link::before {
      display: none;
    }
    .header__item-link:hover {
      color: #B8926B;
    }
    .header__menu-link {
      padding-right: 0px; 
    }
    .header__box-social {
      display: none;
    }
    .social__link svg circle {
      stroke: #fff;
    }
    .social__link svg path {
      fill: #fff;  
    }
    .social__link {
      margin: 32px 10px 5px;
    }
    .header__social--mod {
      display: flex;
      justify-content: center;
    }
    .header__box-images {
      margin-right: 0px;
    }
  }
  
  @media (max-width: 870px) {
    .header__item-title {
      font-size: 46px;
      line-height: 58px;
      margin-bottom: 20px;
    }
    .header__item-text {
      font-size: 18px;
      margin-bottom: 44px;
    }
  }
  
  @media (max-width: 768px) {
    .logo__images,
    .logo__images2--active {
      margin-left: 142px;
    }
    .header__menu-link {
      padding-left: 32px;
    }
    .header__link-tel {
      font-size: 18px;
      line-height: 20px;
    }
    .header__content-box {
      justify-content: center;
      text-align: center;
    }
    .header__box-item {
      margin-right: 0px;
    }
    .header__box-item::before {
    background: url('../images/small-decoration.svg') 0 0 no-repeat;
    top:-80px;
    }
    .header__box-images {
      display: none;
    }
    .header__item-title {
      font-size: 42px;
      line-height: 47px;
      margin-bottom: 16px;
    }
    .header__item-text {
      font-size: 16px;
      line-height: 24px;
      margin: 0 auto 32px;
      max-width: 344px;
    }
    #modal-window {
      width: 606px;
      height: 512px;
    }
    .modal__title {
      font-size: 32px;
      line-height: 36px;
    }
    .modal__title::before {
      left: 140px;
      top: -40px;
    }
    .contacts__text {
      font-size: 16px;
      line-height: 19px;
    }
    .contacts__input {
      font-size: 12px;
      line-height: 14px;
    }
    .step__title {
      font-size: 32px;
      line-height: 36px;
      margin-bottom: 65px;
    }
    .step__title::before {
      width: 58px;
    }
    .step__inner-box {
      margin: 16px;
    }
    .step__inner-box:last-of-type {
      margin-right: 16px;
    }
    .step__box-img {
      margin-bottom: 32px;
      width: 50px;
      height: 50px;
    }
    .step__box-subtitle {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 10px;
    }
    .step__box-text {
      font-size: 14px;
      line-height: 19px;
    }
  }
  
  @media (max-width: 660px) {
    .logo__images,
    .logo__images2--active {
      margin-left: 0px;
    }
    .header__link-tel {
      display: none;
    }
    .header__menu-link::before {
      top: -12px;
      left: 15px
    }
    #modal-window {
      width: 90%;
      height: 70%;
    }
    .modal__title {
      font-size: 28px;
      line-height: 30px
    }
    .modal__title::before {
      left: 120px;
    }
    .contacts__input {
      height: 35px;
      width: 320px;
    } 
    .contacts__info {
      font-size: 10px;
      line-height: 11px;
      margin-bottom: 64px;
      margin-right: 0px;
    }
  }
  
  @media (max-width: 570px) {
    .header__item-title {
      font-size: 36px;
    }
    .modal__title::before {
      left: 65px;
    }
    .step__inner-box {
      margin: 12px;
    }
    .step__inner-box:last-of-type {
      margin-right: 12px;
    }
  }
  
  @media (max-width: 440px) {
    .header__item-title {
      font-size: 32px;
    }
    .header__item-text {
      font-size: 14px;
    }
    .header__menu-btn--mod {
      right: 0px;
    }
    .modal__title::before {
      left: 35px;
    }
    .step__title {
      font-size: 25px;
      line-height: 28px;
      margin-bottom: 40px;
    }
  }
  
  @media (max-width: 380px) {
    .header__top-menu {
      justify-content: space-between;
    }
    .header__menu-link::before {
      left: 10px
    }
    .header__item-title {
      font-size: 27px;
      line-height: 28px;
    }
    .header__box-item::before {
        top:-90px;
        }
    #modal-window {
      width: 320px;
    }
    .modal__title {
      font-size: 25px;
      line-height: 28px;
    }
    .modal__title::before {
      left: 10px;
    }
    .contacts__text {
      font-size: 14px;
      line-height: 17px;
    }
    .contacts__input {
      width: 290px;
    }
    .contacts__box {
      margin-bottom: 24px;
    }
    .step__title {
      font-size: 20px;
      line-height: 22px;
      margin-bottom: 20px;
    }
    .step__title::before {
      width: 47px;
    }
    .step__inner-box {
      margin: 12px;
    }
    .step__inner-box:last-of-type {
      margin-right: 12px;
    }
    .step__box-img {
      margin-bottom: 10px;
      width: 40px;
      height: 40px;
    }
    .step__box-subtitle {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 10px;
    }
    .step__box-text {
      font-size: 12px;
      line-height: 16px;
    }
  }
  
  @media (max-width: 320px) {
    .header__box-item {
      margin-top: 40px;
    }
    .header__box-item::before {
      display: none;
    }
    .header__item-title {
      font-size: 25px;
    }
    .header__item-link {
      font-size: 14px;
      line-height: 16px;
      padding-bottom: 12px;
    }
    .header__item-text {
      font-size: 12px;
      line-height: 20px;
      max-width: 206px;
    }
    .social__link {
      margin: 20px 10px 5px;
    }
    .social__link svg {
      width: 25px;
      height: 25px;
    }
    #modal-window {
      height: 100%;
    }
    .step__box-text {
      max-width: 128px;
    }
  }
  